<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Enhanced-Fixed-Dropdown-Test-Suite">
    <test name="Enhanced-Fixed-Dropdown-Test">
        <classes>
            <class name="EnhancedFixedDropdownTest"/>
        </classes>
    </test>
</suite>